<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="changeTab(event, 'controller_generator')" id="defaulttab">Controlador</button>
  <button class="tablinks" onclick="changeTab(event, 'block_generator')">Bloque</button>
  <button class="tablinks" onclick="changeTab(event, 'form_generator')">Formulario</button>
  <button class="tablinks" onclick="changeTab(event, 'service_generator')">Servicio</button>
</div>

<!-- Tab content -->
<div id="controller_generator" class="tabcontent">
  {{ form.controller }}
</div>

<div id="block_generator" class="tabcontent">
 {{ form.block }}
</div>
<div id="form_generator" class="tabcontent">
  {{ form.form }}
</div>

<div id="service_generator" class="tabcontent">
 {{ form.service }}
</div>